/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
}
  
  /* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
      display: none;
}
  /* Hide scrollbar for IE, Edge and Firefox */
* {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
    --white:#252525;
    --bg:#e4ddd6;
    --color1: #D8CCC0;
    --color1T: #c1ac9955;
    --offWhite: #c8c8c8;
    --offBlack:#212121;

    --darkToDark: linear-gradient(to top, rgb(22, 21, 20), rgb(52, 50, 46));

    --boxShadow1: 0 1rem 2rem rgba(36, 36, 36, 0.264);
    --boxShadow2: 0 0 2rem rgba(36, 36, 36, 0.16);
    --boxShadow3: 0 0 .5rem rgba(233, 214, 194, 0.293);
    --boxShadow4: rgba(0, 0, 0, 0.4) 0px 30px 90px;

    --headerFont: "headline-gothic-atf", sans-serif;
    --pFont: "modula-sans", sans-serif;

    --secWidth: 720px;
}
  
  /***********/
  /* STYLING */
  /***********/

  
body {
	margin: 0;
    color: var(--white);
	background-color: var(--bg);
    width: 100%;
    overflow-x: hidden;
    /* cursor: none; */
}

* {
	text-decoration: none;
	color: inherit;
	list-style: none;
	scroll-behavior: smooth;
	transition: all ease .4s;
}

section{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .5rem;
}

h1{
    margin-left: .5rem;
    margin-top: 0;
    position: fixed;
    top: 2.5rem;
    font-family: var(--headerFont);
    font-size: 45vw;
    letter-spacing: -1.9vw;
    background-image: var(--darkToDark);
    color: transparent;
    background-clip: text;
    z-index: -1;
}

h2{
    font-family: var(--headerFont);
    font-size: 3rem;
    margin: 2rem;
    padding: 0 .5rem;
    position: sticky;
    top: 4rem;
    border-radius: 1rem;
    z-index: 9;
}

h3{
    font-family: var(--headerFont);
    font-size: 3rem;
    font-weight: 900;
}

a,
p,
li{
    font-family: var(--pFont);
    font-size: 1.6rem;
}

main > section{
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery > div img:hover,
.portfolio > div,
.glass{
    background-color: var(--color1T);
    backdrop-filter: blur(.5rem);
}

h2,
.portfolio > div div h3,
.brightGlass {
    background-color: #d2c4b671;
    backdrop-filter: blur(.5rem) brightness(150%);
}

  /******************/
  /* HEADER STYLING */
  /******************/

header{
    height: 100vh;
}

nav{
    height: 3rem;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: var(--bg);
    z-index: 10;
    box-shadow: var(--boxShadow2);
}

nav ul{
    width: 100%;
    margin-top: .5rem;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    background-image: var(--darkToDark);
    color: transparent;
    background-clip: text;
}

nav ul li{
    font-family: var(--headerFont);
    color: var(--white);
}

/* HOVER */
nav ul li:hover{
    transform: translate(0, .5rem);
}


  /******************/
  /* FOOTER STYLING */
  /******************/

footer{
    height: 40rem;
    background-color: var(--bg);
}

  /****************/
  /* MAIN STYLING */
  /****************/

main{
    background-color: var(--bg);
    /* box-shadow: var(--boxShadow3); */
}

main > div:first-of-type{
    height: 65vh;
    width: 100vw;
    position: absolute;
    bottom: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > div:first-of-type div{
    position: relative;
    left: 0;
    height: 100%;
    width: calc(100% - 1rem);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

main > div:first-of-type img{
    height: 100%;
    border-radius: 3rem;
    transform: translate(0, .5rem);
}

main > div:first-of-type ul{
    width: calc(100% - 1rem);    
    min-width: fit-content;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: -1.5rem;
}

main > div:first-of-type ul li{
    margin-bottom: .5rem;
    padding: 0 1rem;
    width: 100%;
    border-radius: .5rem;
    font-family: var(--headerFont);
    font-weight: 100;
}

main > div:first-of-type ul li:has(span){
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

main > div:first-of-type ul li span{
    padding: 0 1rem;
    width: 100%;
    border-radius: inherit;
}


/* hide for mobile */
main > div:first-of-type ul li:nth-of-type(1),
main > div:first-of-type ul li:nth-of-type(2){
    display: none;
}

/* HOVER */
main > div:first-of-type div:hover img{
    transform: translate(0, 0);
}

main > div:first-of-type ul li:hover{
    transform: translate(.5rem, 0);
}


/* ACTING REEL */
section.reel{
    transition-duration: .8s;
    height: 100vh;
    width: 97vw;
    
}

section.reel div{
    position: sticky;
    top: 35vh;
    margin: 4rem 0;
    height: calc(97vw / 16 * 9);
    max-height: calc(var(--secWidth) / 16 * 9);
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    outline: 0 solid #00000062;
    z-index: 5;
}

/* HOVER */
/* section.reel:has(> div:hover) h2{
    opacity: 0;
    margin-bottom: -3vw;
}

section.reel div:hover{
    height: 34vw;
    width: 60vw;
    outline: 100vh solid #0000008f;
    border-radius: 0;
    z-index: 15;
} */



/* PORTFOLIO */

/* section.portfolio > div:first-of-type{
    margin-bottom: 5rem;
    padding: 5rem 2rem;
    width: 85%;
    border-radius: 3rem;
    text-align: center;
}

section.portfolio > div:first-of-type p{
    font-weight: 700;
    font-size: 2rem;
} */

/* hide years for mobile */
section.portfolio > div > h3{
    display: none; 
    align-self: center;
    position: absolute;
    left: -12rem;
    top: 8rem;
    font-size: 2.5em;
}

section.portfolio > div{
    height: fit-content;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

section.portfolio > div div:first-of-type {
    width: 100%;
    margin-bottom: -.5rem;
    border-radius: inherit;
    overflow: hidden;
}

section.portfolio > div div img {
    width: 100%;
    border-radius: inherit;
}

section.portfolio > div div:last-of-type{
    height: fit-content;
    bottom: 1rem;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
}

section.portfolio > div div a{
    align-self: last baseline;
    height: 0;
    --linkSize: 4rem;
    width: var(--linkSize);
    opacity: 0;
    border-radius: 1rem;
    transform: translate(0, 1rem);
    background-color: var(--color1T);
    text-align: center;
}

section.portfolio > div div h3{
    width: fit-content;
    margin: 0;
    margin-top: -1.5em;
    padding: 0 .5rem;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: 100;
}

section.portfolio > div div h3.tooDark {
    background-color: #e3d7cb97;
    backdrop-filter: blur(.5rem) brightness(300%);
}

section.portfolio > div div p{
    height: 0;
    margin: 0;
    padding: 0 .5rem;
    opacity: 0;
}


/* HOVER */
/* section.portfolio > div:hover > h3{
    transform: translate(0, 5rem);
} */

section.portfolio > div:hover{
    box-shadow: var(--boxShadow4);
    margin-bottom: 2rem;
}

section.portfolio > div:hover div a{
    height: var(--linkSize);
    margin-bottom: calc(var(--linkSize) * -1);
    opacity: 1;
}

section.portfolio > div:hover div h3{
    /* background-color: var(--offBlack);
    color: var(--offWhite); */
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}

section.portfolio > div:hover div{
    padding-bottom: 1rem;
}

section.portfolio > div:hover div p{
    height: 1em;
    opacity: 1;
}

section.portfolio > div:hover div img{
    transform: scale(1.15);
}




/* GALLERY */

section.gallery > div{
    -webkit-column-count: 2;    
    -webkit-column-gap: .5rem;    
    -moz-column-count: 2;
    -moz-column-gap: .5rem;
    column-count: 2;    
    column-gap: .5rem;
}

section.gallery > div img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: .3rem;
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}

@keyframes autoBlurAnimation{
    0%{filter: blur(0px);}
    .1%{filter: blur(30px);}
    20%,80%{filter: blur(0px);}
    100%{filter: blur(30px);}
}

/* ABOUT */

section.about{
    column-count: 2;
}












/********************/
/* RESPONSIVE STUFF */
/********************/

/* xs */
@media (min-width: 475px) {
    main > div:first-of-type div{
        width: fit-content;
    }

    main > div:first-of-type ul{
        width: calc(45vh);
    }

    /* section{
        max-width: 475px;

    } */
}

/* sm */
@media (min-width: 640px) {

    h1{
        margin-top: -3vw;
        font-size: 45.3vw;
    }

    /* section{
        max-width: 640px;
    } */

}

/* md */
@media (min-width: 768px) {

    /* section{
        max-width: 768px;
    } */

}

/* lg */
@media (min-width: 1024px) {

    h1{
        margin-top: -6.5vw;
        font-size: 45.7vw;
    }

    main > div:first-of-type{
        flex-direction: row;
        justify-content: center;
    }

    main > div:first-of-type ul{
        /* position: absolute; */
        /* margin-left: 4rem; */
        right: -2rem;
        bottom: -15vh;
        width: 1px;
        min-width: 1px;
    }
    
    main > div:first-of-type ul li,
    main > div:first-of-type ul li span{
        width: fit-content;
        display: block !important;
    }
    
    main > div:first-of-type ul li span{
        margin-bottom: .5rem;
    }


    /* REEL */

    section.reel div:hover{
        transform: scale(1.4);
        outline: 100vh solid #0000008f;
        border-radius: 0;
        z-index: 15;
    }

    /* PORTFOLIO */
    section.portfolio > div > h3{
        display: inline;
    }

    /* section.portfolio > div {
        flex-direction: row;
    } */

    .mf-cursor{
        opacity: 1;
    }

    /* section{
        max-width: 1024px;
    } */

}

/* xl */
@media (min-width: 1280px) {
    /* section{
        max-width: 1280px
    } */
}

/* 2xl */
@media (min-width: 1536px) {

    /* section{
        max-width: 1536px;
    } */

    h1{
        margin-top: -5rem;
        margin-left: 2rem;
        top: 0;
        font-size: 45vw;
        letter-spacing: -2.5rem;
    }

    li,p{
        font-size: 2rem;
    }

    /* REEL */

    section.reel div:hover{
        transform: scale(1.6);
    }
    
}

@media (min-width: 1024px) {
    section{
        max-width: var(--secWidth);
    }

    /* GALLERY */

    section.gallery{
        max-width: 80vw;
    }

    section.gallery > div{
        columns: 300px;
    }

    /* HOVER */
    section.gallery > div img:hover {
        transform: scale(1.15);
}    

}



/* CURSOR */

/* .mf-cursor {
    width: 40px;
    height: 40px;
    background-color:var(--color1) ;
    border-radius: 50%;
    margin: -20px 0 0 -20px;
    pointer-events: none;
    mix-blend-mode: multiply;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  } */


.mf-cursor{
    opacity: 0;
    color: var(--offBlack);
}

  /* #cursorDot,
  #cursorOutline{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
  }

  
  #cursorDot{
    height: 5px;
    width: 5px;
    background-color: var(--offBlack);
  }

  #cursorOutline{
    height: 30px;
    width: 30px;
    background-color: var(--color1T);
  } */