/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
}
  
  /* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
      display: none;
}
  /* Hide scrollbar for IE, Edge and Firefox */
* {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
    --white:#252525;
    /* --bg:#e4ddd6; */
    --bg:#e0d2c2;
    --color1: #D8CCC0;
    /* --color1T: #c1ac9955; */
    --color1T: #b3917255;
    --offWhite: #c8c8c8;
    --offBlack:#0f0f0f;

    --darkToDark: linear-gradient(to top, rgb(10, 9, 8), rgb(39, 37, 34));

    --boxShadow1: rgba(0, 0, 0, 0.4) 0px 20px 60px;
    --boxShadow2: 0 0 2rem rgba(36, 36, 36, 0.16);
    --boxShadow3: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;;
    --boxShadow4: rgba(0, 0, 0, 0.4) 0px 30px 90px;

    --headerFont: "headline-gothic-atf", sans-serif;
    --pFont: "modula-sans", sans-serif;

    --secWidth: 720px;
}
  
  /***********/
  /* STYLING */
  /***********/

  
body {
	margin: 0;
    color: var(--white);
	background-color: var(--bg);
    width: 100%;
    overflow-x: hidden;
    /* cursor: none; */
}

* {
	text-decoration: none;
	color: inherit;
	list-style: none;
	scroll-behavior: smooth;
	transition: all ease .4s;
}

section{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .5rem;
}

h1{
    margin-left: .5rem;
    margin-top: 0;
    position: fixed;
    top: 2.5rem;
    font-family: var(--headerFont);
    font-size: 45vw;
    letter-spacing: -1.9vw;
    background-image: var(--darkToDark);
    color: transparent;
    background-clip: text;
    z-index: -1;
}

h2{
    font-family: var(--headerFont);
    font-size: 3rem;
    margin: 2rem;
    padding: 0 .5rem;
    position: sticky;
    top: 4rem;
    border-radius: 1rem;
    z-index: 9;
}

h3{
    font-family: var(--headerFont);
    font-size: 3rem;
    font-weight: 900;
}

a,
p,
li{
    font-family: var(--pFont);
    font-size: 1.6rem;
    letter-spacing: 0.02em;
}

main > section{
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery > div img:hover,
.portfolio > div,
.glass{
    background-color: var(--color1T);
    backdrop-filter: blur(.5rem);
}

h2,
.portfolio > div div h3,
.brightGlass {
    background-color: #d2c4b671;
    backdrop-filter: blur(.5rem) brightness(150%);
}





  /******************/
  /* HEADER STYLING */
  /******************/

header{
    height: 100vh;
}

nav{
    height: 3rem;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: var(--bg);
    z-index: 10;
    box-shadow: var(--boxShadow2);
}

nav ul{
    width: 100%;
    margin-top: .5rem;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    background-image: var(--darkToDark);
    color: transparent;
    background-clip: text;
}

nav ul li{
    font-family: var(--headerFont);
    color: var(--white);
}

/* HOVER */
nav ul li:hover{
    transform: translate(0, .5rem);
}


  /******************/
  /* FOOTER STYLING */
  /******************/

footer{
    height: 6rem;
    background-color: var(--color1T);
    display: flex;
    justify-content: center;
    align-items: center;
}



  /****************/
  /* MAIN STYLING */
  /****************/

main{
    background-color: var(--bg);
    /* box-shadow: var(--boxShadow3); */
    padding-bottom: 10rem;
}

main > div:first-of-type{
    height: 60vh;
    width: 100vw;
    position: absolute;
    bottom: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > div:first-of-type div{
    position: relative;
    left: 0;
    height: 100%;
    width: calc(100% - 1rem);
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

main > div:first-of-type img{
    height: 100%;
    border-radius: 3rem;
    transform: translate(0, .5rem);
}

main > div:first-of-type ul{
    width: calc(100% - 1rem);    
    min-width: fit-content;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: -1.5rem;
}

main > div:first-of-type ul li{
    margin-bottom: .5rem;
    padding: 0 1rem;
    width: 100%;
    border-radius: .5rem;
    font-family: var(--headerFont);
    font-weight: 100;
    white-space: nowrap;
}

main > div:first-of-type ul li:has(span){
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

main > div:first-of-type ul li span{
    padding: 0 1rem;
    width: 100%;
    border-radius: inherit;
}


/* hide for mobile */
main > div:first-of-type ul li:not(:nth-last-of-type(1), :nth-last-of-type(2)){
    display: none;
}

/* HOVER */
main > div:first-of-type div:hover img{
    transform: translate(0, 0);
}

main > div:first-of-type ul li:not(:has(span)):hover,
main > div:first-of-type ul li span:hover{
    transform: translate(.5rem, 0);
}




/* RESUME */

section.resume > div{
    /* width: calc(var(--secWidth) * 2); */
    max-width: 97vw;
}

section.resume div h3{
    font-size: 2.5rem;
    margin-bottom: 1.2rem;
}

section.resume div ul{
    padding: 0;
    margin-bottom: 3rem;
}

section.resume div ul li{
    margin-bottom: .5rem;
    width: 100%;
    display: flex;
}  

section.resume div ul li p{
    width: 40%;
    margin: 0;
    font-weight: 700;
    letter-spacing: .02em;
}

section.resume div ul li span{
    width: 60%;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: var(--color1T);
    overflow: hidden;
}

section.resume div ul li span div{
    height: 100%;
    padding-left: 1.5rem;
    color: var(--bg);
    border-radius: inherit;
    background-color: var(--offBlack);
    transform: translate(-.5rem, 0);
    align-content: center;
}

section.resume > div > div{
    margin: -.5rem;
    display: flex;
    flex-wrap: wrap;
}

section.resume div div p{
    height: fit-content;
    margin: .5rem;
    padding: .2rem .5rem;
    font-size: 2.3rem;
    font-weight: 100;
    background-color: var(--color1T);
    border-radius: .5rem;
    white-space: nowrap;
}



/* HOVER */

section.resume div ul li:hover span div{
    transform: translate(0, 0);
    box-shadow: var(--boxShadow1);
}




/* PORTFOLIO */

/* section.portfolio > div:first-of-type{
    margin-bottom: 5rem;
    padding: 5rem 2rem;
    width: 85%;
    border-radius: 3rem;
    text-align: center;
}

section.portfolio > div:first-of-type p{
    font-weight: 700;
    font-size: 2rem;
} */

/* hide years for mobile */
section.portfolio > div > h3{
    display: none; 
    align-self: center;
    position: absolute;
    left: -12rem;
    top: 8rem;
    font-size: 2.5em;
    animation: fadeOut .4s;
}

section.portfolio > div{
    height: fit-content;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: var(--boxShadow3);
}

section.portfolio > div div:first-of-type {
    width: 100%;
    margin-bottom: -.5rem;
    border-radius: inherit;
    overflow: hidden;
    background-size: contain;
	background-position: center;
	background-repeat: none;
}

section.portfolio > div div img {
    width: 100%;
    border-radius: inherit;
}

section.portfolio > div div:last-of-type{
    height: fit-content;
    bottom: 1rem;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
}

section.portfolio > div div a{
    align-self: last baseline;
    height: 0;
    --linkSize: 4rem;
    width: var(--linkSize);
    opacity: 0;
    border-radius: 1rem;
    transform: translate(0, 1rem);
    background-color: var(--color1T);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.portfolio > div div a img{
    width: 2.6rem;
}

section.portfolio > div div h3{
    width: fit-content;
    margin: 0;
    margin-top: -1.5em;
    padding: 0 .5rem;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: 100;
    white-space: nowrap;
    /* animation-fill-mode: forwards; */
}

section.portfolio > div div h3.tooDark {
    background-color: #e3d7cb97;
    backdrop-filter: blur(.5rem) brightness(300%);
}

section.portfolio > div div p{
    height: 0;
    margin: 0;
    padding: 0 .5rem;
    opacity: 0;
    transition: .3s;
}


/* HOVER */
section.portfolio > div:hover > h3{
    transform: translate(17.5rem, 17.5rem);
    animation: fadeIn .4s;
}

section.portfolio > div:hover{
    box-shadow: var(--boxShadow4);
    margin-bottom: 3rem;
}

section.portfolio > div:hover div a{
    height: var(--linkSize);
    margin-bottom: calc(var(--linkSize) * -1);
    opacity: 1;
}

@keyframes linkPop {
    from,to {opacity: 1; transform: translate(0);}
    50% {opacity: .5; transform: translate(0, -.3rem);}
}

section.portfolio > div:hover div a img{
    animation: linkPop 1s;
    animation-delay: .2s;
}

section.portfolio > div:hover div h3{
    /* background-color: var(--offBlack);
    color: var(--offWhite); */
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}

section.portfolio > div:hover div{
    padding-bottom: 1rem;
}

section.portfolio > div:hover div p{
    height: 1em;
    opacity: 1;
}

section.portfolio > div:hover > div > img{
    transform: scale(1.15);
}

/* LINK HOVER */

section.portfolio > div div a:hover{
    box-shadow: var(--boxShadow3);
}

section.portfolio > div div a:hover img{
    opacity: .6; 
    transform: translate(0, -.1rem);
}


/* JAZZ and others*/

.yt > div:first-of-type{
    height: calc(97vw / 16 * 9);
    max-height: calc(var(--secWidth) / 16 * 9);
}

.yt div h3 {
    opacity: 0;
}

.yt:hover div h3{
    opacity: 1;
}

.jazz:hover > div:first-of-type img,
.vid:hover > div:first-of-type img{
    opacity: 0;
}

.jazz > div:first-of-type {
    background-image: url(../c/portfolio/jazz/1.jpg);
    height: calc(var(--secWidth) * .62);
    max-height: calc(97vw * .64);
}

@keyframes jazz {
    0%, 5% {background-image: url(../c/portfolio/jazz/1.jpg);}
    10%, 20% {background-image: url(../c/portfolio/jazz/2.jpg);}
    25%, 35% {background-image: url(../c/portfolio/jazz/3.jpg);}
    40%, 50% {background-image: url(../c/portfolio/jazz/4.jpg);}
    55%, 65% {background-image: url(../c/portfolio/jazz/5.jpg);}
    70%, 80% {background-image: url(../c/portfolio/jazz/6.jpg);}
    85%, 100% {background-image: url(../c/portfolio/jazz/7.jpg);}
}

.jazz:hover > div:first-of-type {
    animation: jazz 4s forwards .5s;
}

.vid > div:first-of-type {
    background-image: url(../c/portfolio/vid/1.png);
    height: calc(var(--secWidth) * .715);
    max-height: calc(97vw * .75);
} 

@keyframes vid {
    0%, 10% {background-image: url(../c/portfolio/vid/1.png);}
    12%, 22% {background-image: url(../c/portfolio/vid/2.png);}
    24%, 34% {background-image: url(../c/portfolio/vid/3.png);}
    36%, 46% {background-image: url(../c/portfolio/vid/4.png);}
    48%, 58% {background-image: url(../c/portfolio/vid/5.png);}
    60%, 70% {background-image: url(../c/portfolio/vid/6.png);}
    72%, 82% {background-image: url(../c/portfolio/vid/7.png);}
    84%, 100% {background-image: url(../c/portfolio/vid/8.png);}
}

.vid:hover > div:first-of-type {
    animation: vid 10s forwards;
}

/* .actor{
    box-shadow: var(--boxShadow3);
} */


/* GALLERY */

section.gallery > div{
    -webkit-column-count: 2;    
    -webkit-column-gap: .5rem;    
    -moz-column-count: 2;
    -moz-column-gap: .5rem;
    column-count: 2;    
    column-gap: .5rem;
}

section.gallery > div img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: .3rem;
    animation: autoBlurAnimation linear both;
    animation-timeline: view();
}

@keyframes autoBlurAnimation{
    0%{filter: blur(0px);}
    .1%{filter: blur(30px);}
    20%,80%{filter: blur(0px);}
    99.9%{filter: blur(30px);}
    100%{filter: blur(0px);}

}

/* ABOUT */

section.about{
    column-count: 2;
}

section.about p{
    line-height: 1.2em; 
    letter-spacing: 0.02em;   
}









/* CURSOR */

/* .mf-cursor {
    width: 40px;
    height: 40px;
    background-color:var(--color1) ;
    border-radius: 50%;
    margin: -20px 0 0 -20px;
    pointer-events: none;
    mix-blend-mode: multiply;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  } */


  .mf-cursor{
    opacity: 0;
    color: var(--offBlack);
}









/********************/
/* RESPONSIVE STUFF */
/********************/

/* xs */
@media (min-width: 475px) {
    main > div:first-of-type div{
        width: fit-content;
    }

    main > div:first-of-type ul{
        width: calc(45vh);
    }

    /* section{
        max-width: 475px;

    } */
}

/* sm */
@media (min-width: 640px) {

    h1{
        margin-top: -3vw;
        font-size: 45.3vw;
    }

    /* section{
        max-width: 640px;
    } */

}

/* md */
@media (min-width: 768px) {

    /* section{
        max-width: 768px;
    } */

}

/* lg */
@media (min-width: 1024px) {

    nav{
        padding: 0 2rem;
    }

    h1{
        margin-top: -6.5vw;
        font-size: 45.7vw;
    }

    main > div:first-of-type{
        flex-direction: row;
        justify-content: center;
    }

    main > div:first-of-type ul{
        /* position: absolute; */
        /* margin-left: 4rem; */
        right: -2rem;
        bottom: -14vh;
        width: 1px;
        min-width: 1px;
    }
    
    main > div:first-of-type ul li,
    main > div:first-of-type ul li span{
        width: fit-content;
        display: block !important;
    }
    
    main > div:first-of-type ul li span{
        margin-bottom: .5rem;
    }


    /* PORTFOLIO */
    section.portfolio > div > h3{
        display: inline;
    }


    .mf-cursor{
        opacity: 1;
    }

    /* section{
        max-width: 1024px;
    } */

}

/* xl */
@media (min-width: 1280px) {
    /* section{
        max-width: 1280px
    } */

    section.portfolio > div{
        flex-direction: row;
        margin-bottom: 2rem;
    }
    
    
    section.portfolio > div div img{
        width: var(--secWidth);
    }

    section.portfolio > div div:last-of-type{
        width: 0;
        padding: 0;
    }

    section.portfolio > div div h3{
        margin-top: 1.5rem;
        margin-left: calc((var(--secWidth) * -1) + 2rem);
        /* margin-left: -10rem; */
        animation: fadeOut .4s;
    }

    /* H3 LESS OBTRUSIVE GOING BACK AND FORTH ON HOVER */
    @keyframes fadeIn {
        from,to {opacity: 1;}
        50% {opacity: .2;}
    }

    @keyframes fadeOut {
        from,to {opacity: 1;}
        50% {opacity: .2;}
    }

    /* HOVER */

    section.portfolio > div:hover {
        width: 180%;
    }
    
    section.portfolio > div:hover div:last-of-type{
        width: 80%;
        padding: 2rem;
        padding-bottom: 0;
    }

    section.portfolio > div:hover div h3{
        margin: 0;
        animation: fadeIn .4s;
    }

    section.portfolio > div div p:first-of-type{
        margin-top: 1em;
    }

    section.portfolio > div:hover div img{
        transform: scale(1);
        height: 100%;
    }

    section.portfolio > div:hover div{
        padding: 0;
        margin: 0;
    }

}

/* 2xl */
@media (min-width: 1536px) {

    /* section{
        max-width: 1536px;
    } */

    h1{
        margin-top: -5rem;
        margin-left: 2rem;
        top: 0;
        font-size: 45vw;
        letter-spacing: -2.5rem;
    }

    li,p{
        font-size: 2rem;
    }

    /* REEL */

    section.reel div:hover{
        transform: scale(1.6);
    }
    
}

@media (min-width: 1024px) {
    section{
        max-width: var(--secWidth);
    }

    /* GALLERY */

    section.gallery{
        max-width: 80vw;
    }

    section.gallery > div{
        columns: 300px;
    }

    /* HOVER */
    section.gallery > div img:hover {
        transform: scale(1.15);
}    

}



